  <!-- =======================================================
  * Dasturchi: Abduvoitov Doniyor +998 90 400 33 01, Nematullayev Jasur +998 91 508 39 29 
  ======================================================== -->
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Shirin Shahar</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link rel="icon" href="assets/img/favicon/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
  </head>
  <body>
  
    <!-- ======= Header open ======= -->
    <header id="header" class="fixed-top d-flex align-items-center header-transparent">
      <div class="container d-flex align-items-center justify-content-between">
  
        <div class="logo">
          <h1><a href="index.html"><span>Shirin Shahar</span></a></h1>
        </div>
  
        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto" href="index.html">Home</a></li>
            <li><a class="nav-link scrollto" href="about.html">About</a></li>
            <li><a class="nav-link scrollto active" href="servives.html">Services</a></li>
            <li><a class="nav-link scrollto" href="blog.html">Blog</a></li>
            <li><a class="nav-link scrollto" href="contact.html">Contact</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
  
      </div>
    </header>
    <!-- Header close -->
  
  
 
    <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Services</li>
        </ol>
        <h2>Services</h2>
      </div>
    </section><!-- End Breadcrumbs -->
      
     
          
         <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">
  
          <div class="row gy-4">
  
            <div class="col-lg-8">
              <div class="portfolio-details-slider swiper">
                <div class="swiper-wrapper align-items-center">
  
                  <div class="swiper-slide">
                    <img src="https://media-cdn.tripadvisor.com/media/photo-s/10/7b/c0/99/getlstd-property-photo.jpg" alt="">
                  </div>
  
                  <div class="swiper-slide">
                    <img src="https://static.wixstatic.com/media/6e78d1_ba08b96fdceb4a129772e955a29ee635~mv2.jpg/v1/fill/w_1600,h_900,al_c/6e78d1_ba08b96fdceb4a129772e955a29ee635~mv2.jpg" alt="">
                  </div>
  
                  <div class="swiper-slide">
                    <img src="https://static-prod.dineplan.com/api/images/restaurants/312/312_oscars-cafe-hillcrest.jpg?d=1584112680" alt="">
                  </div>
  
                </div>
                <div class="swiper-pagination"></div>
              </div>
            </div>
  
            <div class="col-lg-4">
              <div class="portfolio-info">
                <h3>Ma'lumot uchun</h3>
                <ul>
                  <li><strong>Category</strong>: Restaurant</li>
                  <li><strong>Nomi</strong>: Oscar</li>
                  <li><strong>Ish vaqti</strong>: 8.00 - 21.00</li>
                </ul>
              </div>
              
            </div>
  
          </div>
  
        </div>
      </section><!-- End Portfolio Details Section -->
  
          <!-- ======= Popular Courses Section ======= -->
          <section id="popular-courses" class="courses">
            <div class="container" data-aos="fade-up">
      
              <div class="section-title">
                <h2>Product</h2>
                <p>Popular Product</p>
              </div>
      
              <div class="row" data-aos="zoom-in" data-aos-delay="100">
      
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                  <div class="course-item">
                    <img id="product" src="https://media-cdn.tripadvisor.com/media/photo-s/1c/d4/5e/b1/mushroom-chick-shawarma.jpg" class="img-fluid" alt="...">
                    <div class="course-content">
                      <div class="d-flex justify-content-between align-items-center mb-3">
                        <button onclick="pursache()"><h4>Buy</h4></button>
                        <p class="price">24 000 so'm</p>
                      </div>
      
                      <h3><a>Shaurma</a></h3>
                      <p>Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.</p>
                      <div class="trainer d-flex justify-content-between align-items-center">
                        <div class="trainer-profile d-flex align-items-center">
                          <img src="assets/img/trainers/trainer-1.jpg" class="img-fluid" alt="">
                          <span>Oscar</span>
                        </div>
                        <div class="trainer-rank d-flex align-items-center">
                          <i class="bx bx-user"></i>&nbsp;50
                          &nbsp;&nbsp;
                          <i class="bx bx-heart"></i>&nbsp;65
                        </div>
                      </div>
                    </div>
                  </div>
                </div> <!-- End Course Item-->
      
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                  <div class="course-item">
                    <img id="product" src="https://i.pinimg.com/originals/69/57/b3/6957b33ebeacc286836ce306a30e7967.jpg" class="img-fluid" alt="...">
                    <div class="course-content">
                      <div class="d-flex justify-content-between align-items-center mb-3">
                        <button onclick="pursache()"><h4>Buy</h4></button>
                        <p class="price">12 000 so'm</p>
                      </div>
      
                      <h3><a>Hotdog</a></h3>
                      <p>Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.</p>
                      <div class="trainer d-flex justify-content-between align-items-center">
                        <div class="trainer-profile d-flex align-items-center">
                          <img src="assets/img/trainers/trainer-2.jpg" class="img-fluid" alt="">
                          <span>Oscar</span>
                        </div>
                        <div class="trainer-rank d-flex align-items-center">
                          <i class="bx bx-user"></i>&nbsp;35
                          &nbsp;&nbsp;
                          <i class="bx bx-heart"></i>&nbsp;42
                        </div>
                      </div>
                    </div>
                  </div>
                </div> <!-- End Course Item-->
      
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                  <div class="course-item">
                    <img id="product" src="https://media.cnn.com/api/v1/images/stellar/prod/220428140436-04-classic-american-hamburgers.jpg?c=original" class="img-fluid" alt="...">
                    <div class="course-content">
                      <div class="d-flex justify-content-between align-items-center mb-3">
                        <button onclick="pursache()"><h4>Buy</h4></button>
                        <p class="price">23 000 so'm</p>
                      </div>
      
                      <h3><a>Hamburger</a></h3>
                      <p>Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.</p>
                      <div class="trainer d-flex justify-content-between align-items-center">
                        <div class="trainer-profile d-flex align-items-center">
                          <img src="assets/img/trainers/trainer-3.jpg" class="img-fluid" alt="">
                          <span>Oscar</span>
                        </div>
                        <div class="trainer-rank d-flex align-items-center">
                          <i class="bx bx-user"></i>&nbsp;20
                          &nbsp;&nbsp;
                          <i class="bx bx-heart"></i>&nbsp;85
                        </div>
                      </div>
                    </div>
                  </div>
                </div> <!-- End Course Item-->
  
  
                
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                  <div class="course-item">
                    <img id="product" src="https://cp.ectn.uz/files//donar_s_govyadinoy_evos.png" class="img-fluid" alt="...">
                    <div class="course-content">
                      <div class="d-flex justify-content-between align-items-center mb-3">
                        <button onclick="pursache()"><h4>Buy</h4></button>
                        <p class="price">41 000 so'm</p>
                      </div>
      
                      <h3><a>Donar</a></h3>
                      <p>Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.</p>
                      <div class="trainer d-flex justify-content-between align-items-center">
                        <div class="trainer-profile d-flex align-items-center">
                          <img src="assets/img/trainers/trainer-2.jpg" class="img-fluid" alt="">
                          <span>Oscar</span>
                        </div>
                        <div class="trainer-rank d-flex align-items-center">
                          <i class="bx bx-user"></i>&nbsp;35
                          &nbsp;&nbsp;
                          <i class="bx bx-heart"></i>&nbsp;42
                        </div>
                      </div>
                    </div>
                  </div>
                </div> <!-- End Course Item-->
  
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                  <div class="course-item">
                    <img id="product" src="https://cp.ectn.uz/files//kartofel_fri_evos.png" class="img-fluid" alt="...">
                    <div class="course-content">
                      <div class="d-flex justify-content-between align-items-center mb-3">
                        <button onclick="pursache()"><h4>Buy</h4></button>
                        <p class="price">13 000 so'm</p>
                      </div>
      
                      <h3><a>Hotdog</a></h3>
                      <p>Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.</p>
                      <div class="trainer d-flex justify-content-between align-items-center">
                        <div class="trainer-profile d-flex align-items-center">
                          <img src="assets/img/trainers/trainer-2.jpg" class="img-fluid" alt="">
                          <span>Oscar</span>
                        </div>
                        <div class="trainer-rank d-flex align-items-center">
                          <i class="bx bx-user"></i>&nbsp;35
                          &nbsp;&nbsp;
                          <i class="bx bx-heart"></i>&nbsp;42
                        </div>
                      </div>
                    </div>
                  </div>
                </div> <!-- End Course Item-->
                
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                  <div class="course-item">
                    <img id="product" src="https://cp.ectn.uz/files//0622/Pepsi_1.5.png" class="img-fluid" alt="...">
                    <div class="course-content">
                      <div class="d-flex justify-content-between align-items-center mb-3">
                        <button onclick="pursache()"><h4>Buy</h4></button>
                        <p class="price">13 000 so'm</p>
                      </div>
      
                      <h3><a>Pepesi</a></h3>
                      <p>Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.</p>
                      <div class="trainer d-flex justify-content-between align-items-center">
                        <div class="trainer-profile d-flex align-items-center">
                          <img src="assets/img/trainers/trainer-2.jpg" class="img-fluid" alt="">
                          <span>Oscar</span>
                        </div>
                        <div class="trainer-rank d-flex align-items-center">
                          <i class="bx bx-user"></i>&nbsp;35
                          &nbsp;&nbsp;
                          <i class="bx bx-heart"></i>&nbsp;42
                        </div>
                      </div>
                    </div>
                  </div>
                </div> <!-- End Course Item-->
      
              </div>
      
            </div>
          </section><!-- End Popular Courses Section -->
          
    </main><!-- End #main -->



 
  
    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
  
            <div class="col-lg-4 col-md-6">
              <div class="footer-info">
                <h3>Shirin City</h3>
                <p>
                  Sirdaryo viloyati <br>
                  Shirin shahar<br><br>
                  <strong>Phone:</strong> +998(90) 400-33-01<br>
                  <strong>Email:</strong> abduvoitow@gmail.com<br>
                </p>
                <div class="social-links mt-3">
                  <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                  <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                  <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                  <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                  <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                </div>
              </div>
            </div>
  
            <div class="col-lg-2 col-md-6 footer-links">
                <h4>Our Links</h4>
                <ul>
                  <li><i class="bx bx-chevron-right"></i> <a href="index.html">Home</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="about.html">About</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="servives.html">Services</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="blog.html">Blog</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="contact.html">Contact</a></li>
                </ul>
              </div>
    
              <div class="col-lg-2 col-md-6 footer-links">
                <h4>Our Services</h4>
                <ul>
                  <li><i class="bx bx-chevron-right"></i> <a href="servives.html">Online shop</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="servives.html">Restaurant</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="servives.html">Delivery</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="servives.html">Taxi services</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="servives.html">And other</a></li>
                </ul>
              </div>
  
            <div class="col-lg-4 col-md-6 footer-newsletter">
              <h4>Our Newsletter</h4>
              <p>Leave your comment. Your opinion is important to us</p>
              <form action="" method="post">
                <input type="email" name="email"><input type="submit" value="Subscribe">
              </form>
  
            </div>
  
          </div>
        </div>
      </div>
  
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>IT Center</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          Designed by <a href="#">IT center</a>
        </div>
      </div>
    </footer><!-- End Footer -->
  
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <div id="preloader"></div>
  
    <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
  </html>
  
    <!-- =======================================================
    * Dasturchi: Abduvoitov Doniyor +998 90 400 33 01, Nematullayev Jasur +998 91 508 39 29 
    ======================================================== -->